<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Would you mind allowing camera access to capture images of invoices or receipts?</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Would you mind allowing photo library access to choose images of invoices or receipts?</string>
</dict>
</plist>
